.window{
  display:none;
  width:40%;
  height:90%;
  position:absolute;
  left:0;
  top:0;
  background:#FFF;
  z-index:9900;
  padding:10px;
  border-radius:10px;
}

#mascara{
  display:none;
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
}

.fechar{display:block; text-align:right;}
li{
  padding-bottom: 12px;
}
li a{
  color: black;
}
.buttons_chamados{
  /*-webkit-transition: width 2s; /* Safari */
  /*box-shadow: 0 1px 3px rgba(0,0,0,.08);*/
  /* margin-bottom: 5px;*/
  height: 12%;
  border-bottom:  solid;
  border-width: 1px;
  padding: 1px;
  font-size: 10px;
  border-color: #80808042;

}
.buttons_chamados table {
  font-size: 13px;

}
.buttons_chamados_block{
  /*-webkit-transition: width 2s; /* Safari */
  /*box-shadow: 0 1px 3px rgba(0,0,0,.08);*/
  /* margin-bottom: 5px;*/
  background-color:  rgba(128, 128, 128, 0.09019607843137255);
  height: 12%;
  border-bottom:  solid;
  border-width: 1px;
  padding: 1px;
  font-size: 10px;
  border-color: rgba(128, 128, 128, 0.25882352941176473);

}
.buttons_chamados_block table {
  font-size: 13px;
  color: #636262;
  
}
/* BOTÕES BRANCOS DAS COLUNAS */
.buttons_clientes{
  margin-top: 5px;
  -webkit-transition: width 2s; /* Safari */
  box-shadow: 0 1px 3px rgba(0,0,0,.08);
  margin-bottom: 5px;
  height: 12%;
  
}
.buttons_clientes:hover{
 box-shadow: 0 5px 20px rgba(0,0,0,.09);
}

/* BOTÕES VERDE DAS COLUNAS */
.buttons_clientes_verde{
  margin-top: 5px;
text-align: center;
  background-image:  linear-gradient(#7aea7d, #07732e);
 -webkit-transition: width 2s; /* Safari */
 box-shadow: 0 1px 3px rgba(0,0,0,.08);
 margin-bottom: 5px;
 height: 12%;
}
.buttons_clientes_verde ul li a span{
  color: white;
}
.buttons_clientes_verde:hover{
 background-color: rgba(171, 239, 171, 0.4);
 box-shadow: 0 5px 20px rgba(0,0,0,.09);
}

/* BOTÕES AMARELO DAS COLUNAS */
.buttons_clientes_amarelo{
  margin-top: 5px;
  text-align: center;
  background-image: linear-gradient(#ead77a, #ffbc00);
  background-color: rgba(237, 239, 153, 0.4);
  -webkit-transition: width 2s; /* Safari */
  box-shadow: 0 1px 3px rgba(0,0,0,.08);
  margin-bottom: 5px;
  height: 12%;
}
.buttons_clientes_amarelo:hover{
 background-color: rgba(237, 239, 153, 0.4);
 box-shadow: 0 5px 20px rgba(0,0,0,.09);
}

/* BOTÕES VERMELHO DAS COLUNAS */
.buttons_clientes_vermelho{
  margin-top: 5px;
  text-align: center;
  background-image: linear-gradient(#ea7a7a, #a01010);
  -webkit-transition: width 2s; /* Safari */
  box-shadow: 0 1px 3px rgba(0,0,0,.08);
  margin-bottom: 5px;
  height: 12%;
}
.buttons_clientes_vermelho ul li a span{
color: white;
}

.buttons_clientes_vermelho:hover{
 background-color: rgba(239, 153, 153, 0.4);
 box-shadow: 0 5px 20px rgba(0,0,0,.09);
}

.coluna{
  background-color: transparent;
  overflow-y: scroll;
  height: 55%;
  overflow-x: hidden;

}
.top-chamados{
  height: auto;
  box-shadow: 0 5px 10px rgba(0,0,0,.09);

}
.formulario{
  padding: 20px;
  font-size: 10px;
}
.label .legend { 
  font-size: 10px;
  font-weight: bold;

}
.input{
  outline: none;
}
.inpt_size{
  width: 60%;
}
.link {
  text-decoration:none; 
}
.bbox{
  padding: 0px 0px 0px 5px;
}
.title_view{
  text-align: center;
}
.top_border{
  /*margin-top: 30px;*/
}
.dashboard_custom{
  padding-top: 5px;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  

}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.endereco_txt{
 overflow: hidden;
 height: 40px;
}
.select_mes{
  width: 130px;
  position: absolute;
  right: 50px;
  top: 261;
}
select {
  outline: none;
}
.dados_clienteS{
  margin: 0px 20px;
}
.cl_dados{
  font-size: 12px;
}
.contador{
  background-color: #0e96e5;
  padding: 5px 8px;
  border-radius: 0%;
  font-size: 12px;
}
.box57{
  width: 57%;
  padding-right: 2px;
}
.box42{
  width: 42.5%;
  padding-left: 5px;
}
.blocker{
  z-index: 98;
} 
.modal{
  max-width: 800px;
}

.panel_header.darkblue_gradient{

  background-image: linear-gradient(#0b4480, #052242);
  border-top: 5px solid #052242 !important;
  border-bottom: 1px solid #052242 !important; 
  color: #FFF;
  height: 6%;
}
.panel_header.darkblue_gradient > h2{
  font-size: 0.875em; 
  font-weight: 600; 
  color: #FFF; 
  padding-bottom: 5px;
}
.panel_header.darkblue_gradient > span{
  position: relative; 
  right: 0; 
  top: -10px;
}

.panel_header.info_gradient{height: 6%;background-image: linear-gradient(#0e96e5, #04486f); border-top: 5px solid #096397 !important; border-bottom: 1px solid #096397 !important; color: #FFF;}
.panel_header.info_gradient > h2{font-size: 0.875em; font-weight: 600; color: #FFF; padding-bottom: 5px;}
.panel_header.info_gradient > span{position: relative; right: 0; top: -10px;}


.legenda-red{
    background-image: linear-gradient(#ea7a7a, #a01010);
    width:10px; 
    height: 10px;
}

.legenda-yellow{
    background-image: linear-gradient(#ead77a, #ffbc00);
    width:10px; 
    height: 10px;
}

.legenda-green{
    background-image: linear-gradient(#7aea7d, #07732e);
    width:10px; 
    height: 10px;
}

/* autocomplete */

  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

  /* AUTOCOMPLETE JQUERY UI */

  .ui-menu-item-wrapper{
    text-transform: uppercase;
  }

  .ui-menu-item{
    padding-bottom: 0 !important;
  }

  .ui-menu-item:nth-child(odd){
    background-color: #f2f2f2;
  }

  .ui-widget input::placeholder{
    text-align:center !important;
  }

  .ui-widget{
    font-size: .9em;
  }